<!DOCTYPE html>
<html lang="en">

<head>
  <title>MATH 1830 Notes</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/notes.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/togglebuttons.js"></script>
  <script src="js/loadmathjax.js"></script>
  <script src="js/googlestats.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/nav.js"></script>
  <script src="js/togglepass.js"></script>
  <!-- <script src="https://www.desmos.com/api/v0.6/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
      <script src="js/desmosgraphs.js"></script> -->


</head>

<body>

  <nav ng-app="myApp" ng-controller="myCtrl" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header"> <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">              <span class="sr-only">Toggle navigation</span>              <span class="icon-bar"></span>              <span class="icon-bar"></span>              <span class="icon-bar"></span>           </button>        <a class="navbar-brand" ng-href="{{nav.titleUrl}}">{{nav.title}}</a> </div>
      <div class="collapse navbar-collapse"
        id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-repeat="u in nav.unit" class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
              title="{{u.title}}">{{u.title}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-repeat="n in u.nav"><a ng-href="{{n.url}}">{{n.urlText}}</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left">
            <div class="form-group"> <input id="input" type="password" class="form-control" placeholder="pin-code"> </div> <button id="submit" type="submit"
              class="btn btn-default">Show Solutions</button> </form>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 id="u1toc">MATH 1830</h1>

    <h2>Unit 1 Limits</h2>



    <div id="u1" class="m1830-unit">

      <article class="notes">
        <h3>1.3 Definition of the Derivative</h3>
        
        <strong>Limit Definition of the Derivative of a Function: 4 Step Process</strong>
        <p> Given $f(x)$,</p>
        <p> $f'(x)=\mathop {\lim }\limits_{h \to 0} \frac{{f\left( {x + h} \right) - f\left( x \right)}}{h}$</p>
        <p>Step 1: Find $f\left( {x + h} \right)$</p>
        <p>Step 2: Find $f\left( {x + h} \right) - f\left( x \right)$</p>
        <p>Step 3: Find $\frac{{f\left( {x + h} \right) - f\left( x \right)}}{h}$</p>
        <p>Step 4: Find $\mathop {\lim }\limits_{h \to 0} \frac{{f\left( {x + h} \right) - f\left( x \right)}}{h}$</p>
        <p style="page-break-after: always;">&nbsp;</p>
        <h4>1.3 Video</h4>

<ol> 
  <li class="m1830-problem">
  <p class="m1830-problem-text">
    Use the limit definition of the derivative to find $f&#39;\left( x \right)$, given $f\left( x \right) = \;5{x^2} + 2x - 8.$</p>

  <p class="m1830-solution">Step 1</p>
  <p class="m1830-solution">$f(x + h) = 5{(x + h)^2} + 2(x + h) - 8$</p>
  <p class="m1830-solution">$f(x+h)= 5({x^2} + 2xh + {h^2}) + 2x + 2h - 8$</p>
  <p class="m1830-answer">$f(x+h)=5{x^2} + 10xh + 5{h^2} + 2x + 2h - 8$</p>
  <p class="m1830-solution">Step 2</p>
  <p class="m1830-solution">$f(x + h) - f(x) = \left( {5{x^2} + 10xh + 5{h^2} + 2x + 2h - 8} \right) - \left( {5{x^2} + 2x - 8} \right)$</p>
  <p class="m1830-answer">$f(x+h)-f(x)= 10xh + 5{h^2} + 2h$</p>
  <p class="m1830-solution">Step 3</p>
  <p class="m1830-solution">$\frac{{f(x + h) - f(x)}}{h} = \frac{{10xh + 5{h^2} + 2h}}{h}$</p>
  <p class="m1830-solution">$ \frac{{f(x + h) - f(x)}}{h} = \frac{{10xh}}{h} + \frac{{5{h^2}}}{h} + \frac{{2h}}{h}$</p>
  <p class="m1830-answer">$\frac{{f(x + h) - f(x)}}{h} = 10x + 5h + 2$</p>
  <p class="m1830-solution">Step 4</p>
  <p class="m1830-solution">$\mathop {\lim }\limits_{h \to 0} (10x + 5h + 2) = 10x + 5(0) + 2 = 10x + 2$</p>
  <p class="m1830-answer">Therefore, the slope of the tangent line for any given $x$ is $f&#39;(x) = 10x + 2.$</p>
</li>
  <li><strong>Write the equation of the tangent line at x=2.</strong>
  <p class="m1830-answer">Point $\quad f(2)=16\quad \quad (2,16)$ </p>
  <p class="m1830-answer">Slope $\quad {m_{tan}} = f&#39;(2) = 10(2) + 2 = 20 + 2 = 22$</p>


  <p class="m1830-solution">$y-y_1=m\left(x-x_1\right)\\ $</p>
  <p class="m1830-solution">$y - 16 = 22(x - 2)$</p>
  <p class="m1830-solution">$y - 16 = 22x - 44$</p>
  <p class="m1830-answer">$y = 22x - 28$</p>

</li>
<p style="page-break-after: always;">&nbsp;</p>
<h4>1.3 Lecture</h4>
<br>
<li class="m1830-problem">
  <p class="m1830-problem-text">
    Use the limit definition of the derivative to find $f&#39;\left( x \right)$, given $f(x) = - 4{x^2} + x + 2.$</p>
  <p class="m1830-solution">Step 1</p>
  <p class="m1830-solution">$f(x+h)=-4{{(x+h)}^{2}}+(x+h)+2$</p>
  <p class="m1830-solution">$f(x+h)=-4({{x}^{2}}+2xh+{{h}^{2}})+x+h+2$</p>
  <p class="m1830-answer">$f(x+h)=-4{{x}^{2}}-8xh-4{{h}^{2}}+x+h+2$</p>
  <p class="m1830-solution">Step 2</p>
  <p class="m1830-solution">$f(x+h)-f(x)=\left( -4{{x}^{2}}-8xh-4{{h}^{2}}+x+h+2 \right)-\left( -4{{x}^{2}}+x+2 \right)$</p>
  <p class="m1830-answer">$f(x+h)-f(x)=-8xh-4{{h}^{2}}+h$</p>
  <p class="m1830-solution">Step 3</p>
  <p class="m1830-solution">$\frac{f(x+h)-f(x)}{h}=\frac{-8xh-4{{h}^{2}}+h}{h}$</p>
  <p class="m1830-solution">$\frac{f(x+h)-f(x)}{h}=\frac{-8xh}{h}-\frac{4{{h}^{2}}}{h}+\frac{h}{h}$</p>
  <p class="m1830-answer">$\frac{f(x+h)-f(x)}{h}=-8x-4h+1$</p>
  <p class="m1830-solution">Step 4</p>
  <p class="m1830-solution">$\mathop {\lim }\limits_{h \to 0} (-8x-4h+1)=-8x-4(0)+1=-8x+1$</p>
  <p class="m1830-answer">Therefore, the slope of the tangent line for any given $x$ is ${f}&#39;(x)=-8x+1.$ </p>
  <p><strong>Write the equation of the tangent line at x = 1.</strong></p>
  <p class="m1830-answer">Point $\quad f(1)=-1\quad \quad (1, - 1)$</p>
  <p class="m1830-answer">Slope $\quad {m_{\tan}}= f&#39;(1) =- 8(1) + 1 = - 8 + 1 = - 7$</p>
  <p class="m1830-solution">$y-y_1=m\left(x-x_1\right)\\ $</p>
  <p class="m1830-solution">$y +1 = -7(x - 1)$</p>
  <p class="m1830-solution">$y +1 = -7x +7$</p>
  <p class="m1830-answer">$y = -7x +6$</p>
</li>
<p style="page-break-after: always;">&nbsp;</p>

<h4>1.3 Group Work</h4>
<li class="m1830-problem">
  <p class="m1830-problem-text">
    Use the limit definition of the derivative to find $f&#39;\left( x \right)$, given $f\left( x \right) = \;{x^2}\; - 3x -
    2.$</p>

  <p class="m1830-solution">Step 1</p>
  <p class="m1830-solution">$f(x + h) = {(x + h)^2} - 3(x + h) - 2$</p>
  <p class="m1830-answer">$f(x + h) = {x^2} + 2xh + {h^2} - 3x - 3h - 2$</p>
  <p class="m1830-solution">Step 2</p>
  <p class="m1830-solution">$f(x + h) - f(x) = \left( {{x^2} + 2xh + {h^2} - 3x - 3h - 2} \right) - \left( {{x^2}\; - 3x - 2} \right)$</p>
  <p class="m1830-answer">$f(x+h)-f(x)= 2xh + {h^2} - 3h$</p>
  <p class="m1830-solution">Step 3</p>
  <p class="m1830-solution">$\frac{{f(x + h) - f(x)}}{h} = \frac{{2xh + {h^2} - 3h}}{h}$</p>
  <p class="m1830-solution">$ \frac{{f(x + h) - f(x)}}{h} = \frac{{2xh}}{h} + \frac{{{h^2}}}{h} - \frac{{3h}}{h}$</p>
  <p class="m1830-answer">$\frac{{f(x + h) - f(x)}}{h} = 2x + h - 3$</p>
  <p class="m1830-solution">Step 4</p>
  <p class="m1830-solution">$\mathop {\lim }\limits_{h \to 0} 2x + h - 3 = 2x + (0) - 3 = 2x - 3$</p>
  <p class="m1830-answer">Therefore, the slope of the tangent line for any given $x$ is $f&#39;(x) = 2x - 3.$</p>
  <p><strong>Write the equation of the tangent line at x = -1.</strong></p>
  <p class="m1830-answer">Point $\quad f(-1)=2\quad \quad (-1, 2)$</p>
  <p class="m1830-answer">Slope $\quad {m_{\tan}}= f&#39;(-1) = 2(-1)-3 = - 2 - 3 = - 5$</p>
  <p class="m1830-solution">$y-y_1=m\left(x-x_1\right)\\ $</p>
  <p class="m1830-solution">$y - 2 = -5(x + 1)$</p>
  <p class="m1830-solution">$y - 2 = -5x - 5$</p>
  <p class="m1830-answer">$y = -5x -3$</p>

</li>


<li>
        <p>A decorative birthday balloon is being filled with helium. The table shows the volume of the helium in the balloon
          at 3 second intervals for 30 seconds.</p>

        <table summary="Volume of helium in a balloon over time in seconds.  Column headers are time in seconds and volume in cubin centimeters.  Row headers are time in seconds">
          <tr>
            <th scope="col">t(seconds)</th>
            <th scope="col">V (cubic centimeters)</th>
          </tr>
          <tr>
            <th scope="row">0</th>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>4.2</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>33.5</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>113.0</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>267.9</td>
          </tr>
          <tr>
            <th scope="row">15</th>
            <td>523.3</td>
          </tr>
          <tr>
            <th scope="row">18</th>
            <td>904.3</td>
          </tr>
          <tr>
            <th scope="row">21</th>
            <td>1436.0</td>
          </tr>
          <tr>
            <th scope="row">24</th>
            <td>2143.6</td>
          </tr>
          <tr>
            <th scope="row">27</th>
            <td>3052.1</td>
          </tr>
          <tr>
            <th scope="row">30</th>
            <td>4186.7</td>
          </tr>
        </table>


        <p>This function can be approximated by the equation $f(x) = 0.16{x^3} + 0.0003{x^2} - 0.007x + 0.0161$ (graphed below).
          <img src="images/notes/u1s4p1i.png" alt="First Quadrant Graph.x-axis:  -3 to 33  measuring time in seconds ; y-axis:  0 to 4000  measuring volume in cubic centimeters. Cubic curve increasing up and to the right.">
          <ol>

            <li class="m1830-problem">
              <p class="m1830-problem-text">
                What are the dependent and independent variables for this problem? In what units is the rate of changed expressed?</p>

              <p class="m1830-answer">The dependent variable is volume, in $cm^3.$</p>
              <p class="m1830-answer">The independent variable is time, in seconds.</p>
              <p class="m1830-answer">The rate of change is measured in $cm^3$ per second $({}^{c{{m}^{3}}}/{}_{\sec }).$</p>

            </li>

            <li class="m1830-problem">
              <p class="m1830-problem-text">
                A secant line is a line that intersects two points on a curve. Draw a secant line on the graph for each of the following.
                Calculate the slope of the secant line for each of the following intervals.</p>
              <ol>

                <li>21 s to 30 s
                  <p class="m1830-answer">$\left(21,1436\right)\;\left(30,4186.7\right)\;\;{m_{secant}}\approx306\;cm^3/sec$</p>
                </li>

                <li>21 s to 27 s
                  <p class="m1830-answer">$\left(21,1436\right)\;\left(27,3052.1\right)\;\;{m_{secant}}\approx269\;cm^3/sec$</p>
                </li>

                <li>21 s to 24 s
                  <p class="m1830-answer">$\left(21,1436\right)\;\left(24,2143.6\right)\;\;{m_{secant}}\approx236\;cm^3/sec$</p>
                </li>
              </ol>
            </li>

            <li class="m1830-problem">
              <p class="m1830-problem-text">
                What does the slope of the secant line represent?</p>

              <p class="m1830-answer">The slope of the secant represents the average rate of change in the volume of helium in the balloon over the
                time interval.</p>

            </li>

            <li class="m1830-problem">
              <p class="m1830-problem-text">
                A tangent line is a line that intersects a curve at only one point. Draw a tangent line at the point on the graph corresponding
                to 21 s and estimate the slope of this line.</p>

              <p class="m1830-answer">Answers will vary. At 21 seconds, the volume of the helium balloon is increasing at a rate of approximately
                $208 \;cm^3/sec.$</p>

            </li>

            <li class="m1830-problem">
              <p class="m1830-problem-text">
                What does the slope of the tangent line represent?</p>

              <p class="m1830-answer">The slope of the tangent line represents the instantaneous rate of change of the volume at a given time. At
                21 seconds, the volume of the helium balloon is increasing at a rate of approximately $208 \;cm^3/sec.$</p>

            </li>

            <li class="m1830-problem">
              <p class="m1830-problem-text">
                Compare the secant slopes to the slope of the tangent line. What do you notice?</p>

              <p class="m1830-answer">As the time interval becomes smaller between 21 sec and the end of the interval, the slope of the secant line
                gets closer in value to the slope of the tangent line, which is the rate of change at exactly 21 seconds.</p>
            </li>
          </ol>
          <p><cite> Source <a href="http://mysite.science.uottawa.ca/iabde083/ch01.pdf">http://mysite.science.uottawa.ca/iabde083/ch01.pdf</a> </cite></p>
          <hr>
        </li>
      


        

    
      
        <p style="page-break-after: always;">&nbsp;</p>
        <h4>1.3 Additional Practice</h4>
        <p>Functions of the form $f(x)={{x}^{n}}$, where n = 1,2,3, . . ., are often called power functions. </p>
        <!-- Begin section problem list  -->
      

          <li class="m1830-problem">
            <p class="m1830-problem-text"> Use the limit definition of the derivative to find $f&#39;(x)$ for$f(x)={{x}^{2}}$.</p>
            <p class="m1830-hw-solution">$f\left( x+h \right)={{(x+h)}^{2}}={{x}^{2}}+2xh+{{h}^{2}}$</p>
            <p class="m1830-hw-solution">${f}&#39;(x)=\underset{h\rightarrow0}{lim}\frac{f(x+h)-f(x)}{h}$</p>
            <p class="m1830-hw-solution">$=\underset{h\rightarrow0}{lim}\frac{\left( {{x}^{2}}+2xh+{{h}^{2}} \right)-\left( {{x}^{2}} \right)}{h}$</p>
            <p class="m1830-hw-solution">$=\underset{h\rightarrow0}{lim}\left( \frac{2xh+{{h}^{2}}}{h} \right)$</p>
            <p class="m1830-hw-solution">$=\underset{h\rightarrow0}{lim}\,\left( 2x+h \right)=2x $</p>
            <p class="m1830-hw-answer">${f}&#39;(x)=2x$</p>
          </li>

          <li class="m1830-problem">
            <p class="m1830-problem-text"> Use the limit definition of the derivative to find$f&#39;(x)$ for $f(x)={{x}^{3}}$.</p>
            <p class="m1830-hw-solution">$f(x+h)=(x+h)({{x}^{2}}+2xh+{{h}^{2}}) $</p>
            <p class="m1830-hw-solution">$=\left( {{x}^{3}}+2{{x}^{2}}h+x{{h}^{2}} \right)+\left( {{x}^{2}}h+2x{{h}^{2}}+{{h}^{3}} \right)$</p>
            <p class="m1830-hw-solution m1830-step">$={{x}^{3}}+3{{x}^{2}}h+3x{{h}^{2}}+{{h}^{3}}$</p>

            <p class="m1830-hw-solution">$\underset{h\rightarrow0}{lim}\frac{f(x+h)-f(x)}{h}$</p>
            <p class="m1830-hw-solution">$=\underset{h\rightarrow0}{lim}\frac{\left( {{x}^{3}}+3{{x}^{2}}h+3x{{h}^{2}}+{{h}^{3}} \right)-\left( {{x}^{3}}
              \right)}{h}$</p>
            <p class="m1830-hw-solution m1830-step">$=\underset{h\rightarrow0}{lim}\left( \frac{3{{x}^{2}}h+3x{{h}^{2}}+{{h}^{3}}}{h} \right) $</p>
            <p class="m1830-hw-solution">$ =\underset{h\rightarrow0}{lim}\left( 3{{x}^{2}}+3xh+{{h}^{2}} \right)$</p>
            <p class="m1830-hw-solution m1830-step">$=3{{x}^{2}}+3x(0)+{{(0)}^{2}}=3{{x}^{2}}$</p>
            <p class="m1830-hw-answer">${f}&#39;(x)=3{{x}^{2}}$</p>
          </li>

          <li class="m1830-problem">
            <p class="m1830-problem-text"> Use the limit definition of the derivative to find $f&#39;(x)$ for $f(x)={{x}^{4}}$.</p>
            <p>(Hint:${{\left( x+h \right)}^{4}}=\ {{x}^{4}}+4{{x}^{3}}h+6{{x}^{2}}{{h}^{2}}+4x{{h}^{3}}+{{h}^{4}}$)</p>
            <p class="m1830-hw-solution m1830-step">$f\left( x+h \right)={{\left( x+h \right)}^{4}}=\ {{x}^{4}}+4{{x}^{3}}h+6{{x}^{2}}{{h}^{2}}+4x{{h}^{3}}+{{h}^{4}}$</p>
            <p class="m1830-hw-solution">$\underset{h\rightarrow0}{lim} \frac{f(x+h)-f(x)}{h}$</p>
            <p class="m1830-hw-solution">$=\underset{h\rightarrow0}{lim}\frac{\left( {{x}^{4}}+4{{x}^{3}}h+6{{x}^{2}}{{h}^{2}}+4x{{h}^{3}}+{{h}^{4}} \right)-\left(
              {{x}^{4}} \right)}{h}$</p>
            <p class="m1830-hw-solution m1830-step">$=\underset{h\rightarrow0}{lim} \frac{4{{x}^{3}}h+6{{x}^{2}}{{h}^{2}}+4x{{h}^{3}}+{{h}^{4}}}{h}$</p>
            <p class="m1830-hw-solution">$=\underset{h\rightarrow0}{lim} \left( 4{{x}^{3}}+6{{x}^{2}}h+4x{{h}^{2}}+{{h}^{3}} \right)$</p>
            <p class="m1830-hw-solution">$=4{{x}^{3}}+6{{x}^{2}}(0)+4x{{(0)}^{2}}+{{(0)}^{3}}$</p>
            <p class="m1830-hw-solution m1830-step">$=4{{x}^{3}}$</p>
            <p class="m1830-hw-answer">${f}&#39;(x)=4{{x}^{3}}$</p>
          </li>
          <li class="m1830-problem">
            <p class="m1830-problem-text"> Complete the table.</p>

            <p class="m1830-problem-text">
              <table summary="derivatives of basic polynomial functions.  Column headers are f(x) and f'(x).  Row headers are the basic functions.">
                <tr>
                  <th scope="col">$f(x)$</th>
                  <th scope="col">$f'(x)$</th>
                </tr>
                <tr>
                  <th scope="row">$x^2$</th>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">$x^3$</th>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">$x^4$</th>
                  <td></td>
                </tr>
              </table>
            </p>
          </li>



          <li class="m1830-problem">
            <p class="m1830-problem-text"> Based on your work in (a), (b), and (c), what do you conjecture is the derivative of $f(x)={{x}^{5}}\quad$? of
              $f(x)={{x}^{13}}$?</p>
            <p class="m1830-hw-answer">${f}&#39;(x)=5{{x}^{4}}$</p>
            <p class="m1830-hw-answer">${f}&#39;(x)=13{{x}^{12}}$</p>
          </li>

          <li class="m1830-problem">
            <p class="m1830-problem-text"> Conjecture a formula for the derivative of $f(x)={{x}^{n}}$ that holds for any positive integer n. That is, given
              $f(x)={{x}^{n}}$ where n is a positive integer, what do you think the formula for $f&#39;(x)$ is?</p>
            <p class="m1830-hw-answer">$f&#39;(x)=nx^{n-1}$</p>
            <p><cite class="cc"> Active Calculus by Matthew Boelkins is licensed under a Creative Commons Attribution- NonCommercial-ShareAlike 4.0 International License.  Based on a work at <a href="http://scholarworks.gvsu.edu/books/10/">http://scholarworks.gvsu.edu/books/10/</a>. </cite></p>
          </li>
        </ol>
        <!-- End section problem list  -->

      </article>
    </div>

    <div id="ar" class="add-resources">
      <hr>
      <!-- <h4> Additional Resources</h4>
      <ul>
        <li>
          <a href="http://www.youtube.com/watch?v=ANyVpMS3HL4" target="_blank"><i class="fa fa-play" aria-hidden="true"></i> Derivative as a Slope of a Tangent Line</a>          (15:42)
        </li>

<li>
  <a href="pdfs/u1instantaneousratesofchangews.pdf" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Instantaneous Rates of Change Worksheet</a> 
</li> -->



      </ul>

    </div>

  </div>
  <!-- ending of body container -->

</body>

</html>
